# 2. Script for obtaining word frequencies in comment corpora

## Set Up

In [1]:
import pandas as pd

In [61]:
path = "C:\\Users\\nicol\\Documents\\2021-2022\\QMSS\\Spring'22\\QMSS 5999 Thesis\\data\\"

# Import comment data
reddit_raw = pd.read_csv(path+'comments_reddit_all.csv', index_col=0, dtype={'comment_id': 'str', 'text': 'str'}, keep_default_na=False)
fb_raw = pd.read_csv(path+'comments_fb_all.csv', index_col=0, dtype={'comment_id': 'str', 'text': 'str'}, keep_default_na=False)

# Concatenate both FB and Reddit data into one DataFrame
all_raw = pd.concat([reddit_raw, fb_raw], ignore_index=True)

In [62]:
# Inspect DataFrame and get dimensions
display(all_raw.head())
display(all_raw.tail())
display(all_raw.shape)

  comment_id                                               text
0    gww5drd                    ALL MY PLANS ARE GONE NOOOOOOOO
1    gww5jfz  &gt; This means people will no longer be allow...
2    gww68ne                          phase 2 lai liao wah shag
3    gww6icr  Government fucks up and takes it out on the po...
4    gww6luf  Gyms also closed till 30th. PepeHands. I just ...

              comment_id                                               text
16490  10158186215552100  Trying very hard to push that all singaporeans...
16491  10158186213932100  Omg. This is real bad. And really bad foresigh...
16492  10158186213787100                  Endemic ma, didnt they know this?
16493  10158186211122100  If healthcare system is overstretched, why you...
16494  10158186210967100                         Overwhelmed by antivaxxers

(16495, 2)

## Preprocessing text

### Clean text

In [6]:
# Function for cleaning text
def clean_text_freq(text):
    import re
    import html
    text1 = html.unescape(text) # remove HTML encoded characters
    text2 = text1.replace('[removed]', '') # remove Reddit removed comments
    text3 = text2.replace('[deleted]', '') # remove Reddit deleted comments
    text4 = re.sub(r'\n', '', text3) # remove excess line breaks between links
    text5 = re.sub(r'\n', ' ', text4) # replace remaining line breaks with spaces
    text6 = re.sub(r'#\S+', '', text5) # remove hashtags
    text7 = re.sub(r'http\S+', '', text6) # remove links starting with http
    text8 = re.sub(r'\S+\.com\S+', '', text7) # remove links not starting with http
    text9 = re.sub(r'[^A-Za-z\'\"]+', ' ', text8).strip().lower() # remove punctuations and digits except for apostrophes to maintain contractions
    return(text9)

In [7]:
# Apply function to DataFrame
all_raw['text_clean_freq'] = all_raw.text.apply(clean_text_freq)

In [8]:
# Inspect DataFrame
all_raw.head()

,comment_id,text,text_clean_freq
0,gww5drd,ALL MY PLANS ARE GONE NOOOOOOOO,all my plans are gone noooooooo
1,gww5jfz,&gt; This means people will no longer be allow...,this means people will no longer be allowed to...
2,gww68ne,phase 2 lai liao wah shag,phase lai liao wah shag
3,gww6icr,Government fucks up and takes it out on the po...,government fucks up and takes it out on the po...
4,gww6luf,Gyms also closed till 30th. PepeHands. I just ...,gyms also closed till th pepehands i just want...

### Remove stop words

In [9]:
# Function for removing stop words
def remove_sw(text):
    from nltk.corpus import stopwords
    sw = set(stopwords.words('English'))
    text_filtered = [word for word in text.split() if not word in sw] 
    text_filtered = ' '.join(text_filtered) 
    return(text_filtered)

In [11]:
# Apply function to DataFrame
all_raw['text_no_sw'] = all_raw.text_clean_freq.apply(remove_sw)

In [12]:
# Inspect DataFrame
all_raw.head()

,comment_id,text,text_clean_freq,text_no_sw
0,gww5drd,ALL MY PLANS ARE GONE NOOOOOOOO,all my plans are gone noooooooo,plans gone noooooooo
1,gww5jfz,&gt; This means people will no longer be allow...,this means people will no longer be allowed to...,means people longer allowed digitally check sc...
2,gww68ne,phase 2 lai liao wah shag,phase lai liao wah shag,phase lai liao wah shag
3,gww6icr,Government fucks up and takes it out on the po...,government fucks up and takes it out on the po...,government fucks takes population changes work...
4,gww6luf,Gyms also closed till 30th. PepeHands. I just ...,gyms also closed till th pepehands i just want...,gyms also closed till th pepehands want rock c...

In [13]:
# Export cleaned DataFrame to CSV
all_raw.to_csv(path+'comments_all_clean.csv', header=True, index=True)

### Tokenize comment corpus

In [14]:
# Transform text in DataFrame to a single string
all_raw_string = ' '.join(all_raw['text_no_sw'])

In [15]:
# Tokenise the whole corpus
from nltk.tokenize import word_tokenize
tokens_all = word_tokenize(all_raw_string)

In [ ]:
# Obtain tokens not in NLTK's English dictionary (to identify non-English words that need to be parsed/replaced)
import nltk
from nltk.corpus import words
from nltk.corpus import wordnet

nltk_words = words.words()
tokens_no_eng = [tok for tok in tokens_all if not tok in nltk_words if not wordnet.synsets(tok)]

## Obtain top 1000 tokens by frequency

### Whole corpus

In [17]:
# Obtain top 1000 tokens from the whole corpus
from nltk.probability import FreqDist
fdist_all = FreqDist(tokens_all)
tokens_all_top1000 = fdist_all.most_common(1000)

In [19]:
# Inspect top 20 
tokens_all_top1000[0:20]

[('people', 2304),
 ('covid', 1636),
 ('like', 1442),
 ('cases', 1265),
 ('still', 1264),
 ('vaccinated', 1208),
 ('get', 1171),
 ('go', 1125),
 ('one', 1018),
 ('even', 971),
 ('time', 921),
 ('also', 895),
 ('singapore', 893),
 ('need', 877),
 ('us', 867),
 ('back', 838),
 ('think', 832),
 ('going', 781),
 ('open', 751),
 ('government', 716)]

In [20]:
# Convert to DataFrame and inspect
tokens_all_top1000_df = pd.DataFrame(tokens_all_top1000, columns=['token', 'freq'])
tokens_all_top1000_df.head()

    token  freq
0  people  2304
1   covid  1636
2    like  1442
3   cases  1265
4   still  1264

In [21]:
# Export as CSV
tokens_all_top1000_df.to_csv(path+'comments_all_tokens_top1000.csv')

### Non-English corpus

In [43]:
# Obtain top 1000 non-English tokens
from nltk.probability import FreqDist
fdist_no_eng = FreqDist(tokens_no_eng)
tokens_no_eng_top1000 = fdist_no_eng.most_common(1000)

In [44]:
# Inspect top 20 
tokens_no_eng_top1000[0:20]

[('cb', 458),
 ('ktv', 385),
 ('govt', 375),
 ('lol', 299),
 ('ppl', 244),
 ('gov', 224),
 ('etc', 223),
 ('moh', 218),
 ('wfh', 167),
 ('hbl', 159),
 ('others', 148),
 ('pls', 139),
 ('mrt', 136),
 ('pre', 128),
 ('mtf', 123),
 ('mmtf', 104),
 ('vax', 104),
 ('ndp', 103),
 ('hari', 102),
 ('oyk', 99)]

These non-English tokens will guide me in constructing a dictionary to replace these words with their meaning, to allow the sentiment analysis algorithms to better parse the text and to improve the results. 

Additionally, this list helps me to decide which tokens should be kept:
- For instance, 'cb' is a top token but it has multiple meanings in the corpora as it refers to either a swear word ('cb' short for 'chee bye' which is equivalent in vulgarity to the F word), or the Circuit Breaker lockdown restrictions in April 2020 (which the government and citizens have commonly abbreviated into 'CB'). Given the confusion, I will eliminate this specifc token from the list. I will only retain 'cb' if it is part of another token like 'ccb' which definitely refers to the swear phrase ('chao chee bye') and not the restrictions. 
- I will also not replace tokens which do not have a concise explanation/replacement in the English language, or tokens that are proper nouns.
- Tokens with frequency <= 10 will not be replaced.

In [45]:
# Convert to DataFrame and export as CSV
tokens_no_eng_top1000_df = pd.DataFrame(tokens_no_eng_top1000, columns=['token', 'freq'])
tokens_no_eng_top1000_df.to_csv(path+'comments_all_tokens_no_eng_top1000.csv')